<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Examen_AARCO</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Cotizacion.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Examen_AARCO.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Cotizacion.js"></script>


</head>
<body>
    <div class="d-flex justify-content-center align-content-center flex-column">
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand d-flex justify-content-between align-items-center">
                     <img src="~/img/Aarco Seguro de Auto.png" class="imagen_aarco" alt="..."/>
                     <p class="fs-4 my-0 ms-2 text-white mt-2"> Cotizacion de seguros</p>
                    </a>
                </div>
            </nav>
        </header>
        <div class="container principal_div py-3">
                @RenderBody()
        </div>

        <footer class="container-fluid p-2 bg-dark">
            <div class="text-center">
                <a href="https://github.com/JDeat-S" class="text-white text-decoration-none">Examen_AARCO - GitHub: JDeat-S - Jhovan Gallardo</a>
            </div>
        </footer>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>